<!DOCTYPE html>
<html>
    
    <body>
        <div class="container">
             <h1><span> Facebook</span></h1>
             <p>Login Or Register with</p>
             <a href="/auth/facebook">Facebook</a>
        </div>
    </body>
</html>